@tailwind base;
/*@tailwind components;*/
@tailwind utilities;


[x-cloak] {
    display: none;
}


.profile-header{
    background-color: #212121;
}
#navbarResponsive.collapse {
    visibility: visible !important;
}
