.container-scroller {
    display: flex;
    position: relative; }

.main-panel {
    transition: width 0.25s ease, margin 0.25s ease;
    width: 100%;
    min-height: calc(100vh - 70px);
    padding-top: 70px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column; }
@media (max-width: 991px) {
    .main-panel {
        margin-left: 0;
        width: 100%; } }

.content-wrapper {
    background: #000000;
    padding: 1.875rem 1.75rem;
    width: 100%;
    -webkit-flex-grow: 1;
    flex-grow: 1; }

.action-buttons {
    display: flex;
    justify-content: center; /* Centers the buttons horizontally */
    gap: 10px; /* Adjust the distance between the buttons */
    padding-top:30px; /* Adds padding to the top and bottom */
    padding-bottom: 20px;
}

.action-buttons .btn {
    align-self: center; /* Vertically centers the buttons */
    padding: 6px 12px; /* Increases padding for larger buttons */
    font-size: 16px; /* Increases the font size */
}

.custom-img{
    border-radius: 0!important;
    width: 150px!important;
    height: auto!important;
    display: block!important;
}
.custom-card{
    background-color:#027148;
    border-radius: 6px
}
.custom-brand:hover {
    color: green;
}

.custom-navigation{
    margin-top: 50px;

}
